/*=======================
Common CSS
=======================*/
body{
    font-family: Georgia, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
}
.container{
    margin: 0 auto;
    max-width: 960px;
    width: 960%;
}
img{
    width: 100%;
    height: auto;
}

/*=======================
Top Header CSS
=======================*/
.header_area{
    width: 100%;
    clear: both;
}
#top_header_area{
    background: #BA2E1F;
    padding: 15px 0;
    width: 100%;
}
.inner_top_header{
    overflow: hidden;
}
.mini_menu{
    width: 70%;
    float: left;
}
.mini_menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}
.mini_menu ul li{
    display: inline-block;
    position: relative;
    margin-right: 15px;
}
.mini_menu ul li::after{
    position: absolute;
    content: "";
    background: #fff;
    width: 1px;
    height: 12px;
    top: 7px;
    right: -10px;
}
.mini_menu ul li:last-child::after{
    background: none;
}
.mini_menu ul li a{
    display: block;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.mini_menu ul li a:hover{
    color: #ccc;
}
.search_area{
    width: 30%;
    float: right;
}
.search_area form{
    float: right;
    width: 96%;
    max-width: 210px;
    background: #fff;
    border-radius: 50px;
    padding: 2%;
}
.search_area input{
    width: 89%;
    float: left;
    padding: 1%;
    border: none;
    outline: none;
}
.search_area input[type=submit]{
    width: 9%;
    background: url(img/search.png);
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
}

/*=======================
Main Header CSS
=======================*/
#main_header_area{
    width: 100%;
    clear: both;
}
.inner_header_area{
    overflow: hidden;
    padding: 40px 0;
}
.logo_area{
    width: 240px;
    float: left;
}
.social_area{
    width: 100%;
    width: 600px;
    float: right;
    padding: 17px 0;
}
.social_area ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}
.social_area ul li{
    display: inline-block;
    padding-left: 5px;
}
.social_area ul li a{
    display: block;
    text-decoration: none;
}
.social_area ul li a i{
    background: #333;
    color: #fff;
    width: 30px;
    border-radius: 50%;
    height: 23px;
    padding-top: 7px;
    text-align: center;
    transition: .3s;
}
.social_area ul li a:hover i{
    background: #f00;
}
.social_area ul li a:hover i.fa-linkedin-in{
    background: #0076B4;
}
.social_area ul li a:hover i.fa-twitter{
    background: #1EA2F4;
}
.social_area ul li a:hover i.fa-pinterest{
    background: #C32228;
}
.social_area ul li a:hover i.fa-google-plus-g{
    background: #E94540;
}
.social_area ul li a:hover i.fa-rss{
    background: #F78829;
}

/*=======================
Main Menu CSS
=======================*/
#main_menu{
    width: 100%;
    clear: both;
}
.inner_menu{
    background: #333;
    position: relative;
    border-radius: 5px;
    padding: 15px 0;
    z-index: 1;
    overflow: hidden;
}
.inner_menu::after{
    background: #2b2b2b;
    position: absolute;
    border-radius: 5px;
    content: "";
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;
    z-index: -1;
}
#main_menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
#main_menu ul li{
    display: inline-block;
    padding: 0 10px;
}
#main_menu ul li a{
    display: block;
    color: #e9e8e3;
    text-decoration: none;
    font-size: 14px;
}
#main_menu ul li a:hover{
    color: #ba2e1f;
}